### vscode ###
.vscode/
### NetBeans ###
**/nbproject/
### PhpStorm ###
.idea/
### macOS ###
.DS_Store
### Node ###
node_modules/
### WordPress ###
*.pot
!languages/rrze-autoshare.pot
*.po~
*.pot~
### Tmp ###
_tmp/
